.home-row {
    margin: 15px;
    display: inline-flex;
    padding: 4px;
  }
  
  .home-row-container {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .home-row-container::-webkit-scrollbar {
    display: none;
  }
  
  .home-movie-poster {
    width: 200px;
    height: 280px;
    position: relative;
    transition: 0.5s ease-in-out;
    animation: enter 1s ease-in;
  }
  @keyframes enter {
    0% {
      transform: translateX(-50%);
    }
  }
  .home-movie-poster img {
    object-fit: contain;
    width: 100%;
    height: 280px;
  }
  
  .home-movie-poster:hover {
    transform: scale(1.03);
  }
  .home-movie-poster:hover .home-movie-options {
    opacity: 1;
  }
  
  .home-movie-options {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    transition: 0.5s ease;
    padding: 10px;
  }
  
  .home-movie-options:hover {
    color: aliceblue;
  }
  
  .home-banner {
    overflow-x: hidden;
    object-fit: contain;
    height: 480px;
    margin: 80px 0 10px 0;
  }
  
  .home-banner h1 {
    background: rgb(0, 0, 0, 0.8);
  }
  
  .home-banner-content {
    object-fit: contain;
    background: rgb(0, 0, 0, 0.8);
    padding: 6px;
    border-radius: 6px;
    margin: 100px auto 2px 3px;
  }
  
  .home-banner-btn {
    background: transparent;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 6px;
    margin: 6px;
    padding: 4px;
    transition: 0.2s ease-in-out;
  }
  
  .home-banner-btn:hover {
    transform: scale(1.03);
  }
  
  .banner-trailer span {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    float: right;
  }
  
  .home-choice-tab {
    display: flex;
    padding: 5px;
    margin: 6px;
    background: rgb(0, 0, 0, 0.8);
  }
  
  .home-choice-tab button {
    background: transparent;
    color: aqua;
    border: 1px solid aqua;
    border-radius: 4px;
    margin: 6px;
    padding: 4px;
    width: 8rem;
  }
  
  .home-choice-tab button:focus {
    background-color: aqua;
    color: black;
  }

  .toggle-content
  {
    padding: 4px;
    margin: 80px 5px 5px 5px;
    text-align: center;
    background: transparent;
  }

  .toggle-btn
  {
    background-color: aqua;
    color: black;
    padding: 3px;
    margin: 4px;
    border-radius: 6px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }

  .toggle-btn:hover
  {
    background-color: rgb(65, 155, 155);
  }